<form [formGroup]="myForm">

  	<mat-form-field>
        <input
        matInput
        placeholder="User Account"
        formControlName="useraccount"
        required>
        <mat-error *ngIf="myForm.hasError('required', 'useraccount')">
          Please enter your Current Password
        </mat-error>
      </mat-form-field>


	<mat-form-field>
    <input
    matInput
    placeholder="New password"
    formControlName="password"
    required>
		<mat-error *ngIf="myForm.hasError('required', 'password')">
			Please enter your newpassword
		</mat-error>
	</mat-form-field>

	<mat-form-field>
    <input
    matInput
    placeholder="Confirm password"
    type="password"
    formControlName="confirmPassword"
    required
    [errorStateMatcher]="matcher">
  		<mat-error *ngIf="myForm.hasError('notSame')">
			Passwords do not match
		</mat-error>
  </mat-form-field>

  <button
  mat-raised-button
  color="primary"
  type="submit"
  *ngIf="!isLoading">Update New Password</button>


</form>
