<mat-spinner *ngIf="isLoading"></mat-spinner>
<form #dashboardForm="ngForm" *ngIf="!isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="container" fxLayoutAlign="center">
    <mat-card class="tile-card" *ngIf="userrole == 'SalesManager'">
      <mat-card-header>
        <div mat-card-avatar>
            <i class="fa fa-users fa-2x"></i>
        </div>
        <mat-card-title
          >Total Users : {{ (users$ | async)?.userCount }}</mat-card-title
        >
      </mat-card-header>
      <mat-form-field>
        <mat-select
          (selectionChange)="selectUser($event.value)"
          placeholder="Select User"
        >
          <mat-option
            *ngFor="let user of (users$ | async)?.users"
            [value]="user"
          >
            {{ user.fullname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

    <mat-card class="tile-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon matListIcon aria-label="Period">calendar_today</mat-icon>
        </div>
        <mat-card-title>Group By</mat-card-title>
      </mat-card-header>
      <mat-form-field>
        <mat-select
          (selectionChange)="refreshStat($event.value)"
          placeholder="Select Period"
          matNativeControl required
        >
          <mat-option value="Daily" id="Daily">
            Today/Daily
          </mat-option>
          <mat-option value="Monthly" id="Monthly">
            Monthly
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

    <mat-card class="tile-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon matListIcon aria-label="Planned Visit"
            >query_builder</mat-icon
          >
        </div>
        <mat-card-title
          >Planned Visit :
          {{ (planvisits$ | async)?.visitCount }}</mat-card-title>
      </mat-card-header>

      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon matListIcon aria-label="Actual Visits">restore</mat-icon>
        </div>
        <mat-card-title
          >Actual Visit&nbsp;&nbsp;&nbsp;&nbsp;:
          {{ (visits$ | async)?.visitCount }}</mat-card-title
        >
      </mat-card-header>
    </mat-card>
  </div>

  <div class="table-container">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon matListIcon aria-label="Actual Visits">restore</mat-icon>
        </div>
        <mat-card-title>Actual Visits</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table
          mat-table
          [dataSource]="(visits$ | async)?.visits"
          class="mat-elevation-z8">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.date | date: "shortDate" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.date | date: "shortTime" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let element">{{ element?.customer }}</td>
          </ng-container>

          <ng-container matColumnDef="map">
            <th mat-header-cell *matHeaderCellDef>Google Maps Handle</th>
            <td mat-cell *matCellDef="let element">
              <a
                href="http://maps.google.com/maps?t=k&q=loc:{{
                  element?.lat
                }}+{{ element?.lng }}"
                target="_blank"
                >Open Google Maps</a
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsVisits"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsVisits"
          ></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="table-container">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon matListIcon aria-label="Planned Visits">query_builder</mat-icon>
          </div>
          <mat-card-title>Planned Visits</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <table
            mat-table [dataSource]="(planvisits$ | async)?.planvisits"
            class="mat-elevation-z8">
                <ng-container matColumnDef="startdate">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let element"> {{element?.start | date:'shortDate' }} </td>
                </ng-container>

                <ng-container matColumnDef="starttime">
                    <th mat-header-cell *matHeaderCellDef> Start Time </th>
                    <td mat-cell *matCellDef="let element"> {{element?.start | date:'shortTime' }} </td>
                </ng-container>

                <ng-container matColumnDef="enddate">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let element"> {{element?.end | date:'shortDate' }} </td>
                </ng-container>

                <ng-container matColumnDef="endtime">
                    <th mat-header-cell *matHeaderCellDef> End Time </th>
                    <td mat-cell *matCellDef="let element"> {{element?.end | date:'shortTime' }} </td>
                </ng-container>

                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef> Customer </th>
                    <td mat-cell *matCellDef="let element"> {{element?.userId}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPlannedVisits"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPlannedVisits;"></tr>
            </table>
        </mat-card-content>
      </mat-card>
    </div>



</form>
